<?php $this->load->view('pub/head.html'); ?>

<body class="no-sidebar">
    <!-- 页头 -->
    <div id="header">
        <!-- Inner -->
        <div class="inner">
                <header>
                    <h1>
                        <a href="#" id="logo">
                            <?php echo $title ?>
                        </a>
                    </h1>
                </header>
        </div>
        <!-- Nav -->
        <?php $this->load->view('pub/nav.html'); ?>
    </div>
    <!-- Main -->
    <div class="wrapper style2">
        <section id="features" class="container">
            <header>
                <!-- 此处显示项目类别 -->
                <span class="byline"><a href="">公益</a>| <a href="">科技</a>| <a href="">艺术</a>| <a href="">出版</a>| 其他</span>
            </header>
            <div class="row">
                
                                <?php foreach ($pro as $key ): ?>
                                  
                <article class="3u special">
                    <div class="card">
                    <a href="<?php echo site_url().'/pro/thumb/'.$key['pro_id'] ?>" class="image">
                        <img src="<?php echo base_url().'uploads/'.$key['pro_img'] ?>" alt="" />
                    </a>
                    <header>
                        <h3><a href="<?php echo site_url().'/pro/thumb/'.$key['pro_id'] ?>"><?php echo $key['pro_title'] ?></a></h3>
                    </header>
                    <p> <?php echo $don_num[$key['pro_id']] ?>人捐助｜已捐助 <?php echo $pro_all[$key['pro_id']] ?>元</p>
                    <p>项目进度： <?php echo $process[$key['pro_id']] ?>% </p>
                    <p><?php echo $key['pro_dur'] ?>天后结束筹款</p>
                    </div>
                </article>
                <?php endforeach ?> 
                            
            </div>
            <footer style="float:right;">
                <?php echo  $links ?>
            </footer>
        </section>
         <div>
                    
                </div>

    </div>    
       
    <!-- 页脚 -->
    <?php $this->load->view('pub/foot.html'); ?>