<?php $this->load->view('pub/head.html'); ?>
<body class="no-sidebar">
    <!-- 大屏欢迎页 -->
    <div id="header">
        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="#" id="logo">帮助中心</a></h1>
            </header>
        </div>
        <!-- Nav -->
        <?php $this->load->view('pub/nav.html'); ?>
    </div>
    <div>
            <nav id="sub-nav">
                <ul class="title-list">
                    <li class="active">
                        <a href="#risepro">发起项目</a>
                    </li>
                    <li><a href="#donate">捐助项目</a>
                    </li>
                    <li><a href="#contract">公益合约</a>
                    </li>
                    <li><a href="#about">关于我们</a>
                    </li>
                    <li><a href="#contact">联系我们</a>
                    </li>
                </ul>
            </nav>
        </div>
 <!-- Main -->
    <div class="wrapper style1">
        <div class="container">
            <div class="row">
                <!--               如何发起项目-->
                <div class="-1u skel-cell-mainContent" id="risepro">
                    <article id="main" class="special">
                        <header>
                            <h2><a href="#" >如何发起项目</a></h2>
                            <span class="byline">
                                        注册众善众筹网用户之后，根据提示提交所需要的项目信息（项目内容，发起人与被帮助人的身份证明，贫困证明等）
                                    </span>
                        </header>
                        <p>
                            通过预审后，会有项目负责人跟发起人一对一联系，进行进一步审核。
                        </p>
                        <section>
                            <header>
                                <h3>第一步 发起项目</h3>
                            </header>
                            <p>
                                输入项目详细信息，如下图,填写项目信息
                            </p>
                            <div class="4u">
                                <a href="http://mdomaradzki.deviantart.com/art/Air-Lounge-385212062" class="image full">
                                    <img src="<?php echo base_url().'res/' ?>images/pic10.jpg" alt="" />
                                </a>
                            </div>
                        </section>
                        <section>
                            <header>
                                <h3>第二步 填写项目预算表</h3>
                            </header>
                            <p>
                                添加项目预算信息，尽量详尽
                            </p>
                            <div class="4u">
                                <a href="http://mdomaradzki.deviantart.com/art/Air-Lounge-385212062" class="image full">
                                    <img src="<?php echo base_url().'res/' ?>images/pic10.jpg" alt="" />
                                </a>
                            </div>
                        </section>
                        <section>
                            <header>
                                <h3>第三步 发起人信息</h3>
                            </header>
                            <p>
                                添加发起人信息，保证信息的正确性，同时补充打款信息；
                            </p>
                            <div class="4u">
                                <a href="http://mdomaradzki.deviantart.com/art/Air-Lounge-385212062" class="image full">
                                    <img src="<?php echo base_url().'res/' ?>images/pic10.jpg" alt="" />
                                </a>
                            </div>
                        </section>
                    </article><hr/>
                </div>
                
                <!--                如何捐助项目               -->
                <div class="-1u skel-cell-mainContent" id="donate">
                    <article id="main" class="special">
                        <header>
                            <h2><a href="#" >如何捐助项目</a></h2>
                            <span class="byline">
                                        注册众善众筹网用户之后，根据提示提交所需要的项目信息（项目内容，发起人与被帮助人的身份证明，贫困证明等）
                                    </span>
                        </header>
                        <p>
                            通过预审后，会有项目负责人跟发起人一对一联系，进行进一步审核。
                        </p>
                        <section>
                            <header>
                                <h3>如何捐助一个项目？</h3>
                            </header>
                            <p>
                                每个项目页面都有资金输入框，输入想要捐助的金额，并付款即可。
                            </p>
                            <p>
                                填写项目信息
                            </p>
                        </section>
                        <section>
                            <header>
                                <h3>项目发起人如果非法或者不正当使用筹集资金，是否承担法律责任？</h3>
                            </header>
                            <p>
                                是。项目发起人会根据项目情况，分段获得项目执行所需资金。若出现任何不当或者非法使用情况，我公司不排除根据项目发起前签署的协议追求发起人的法律责任。
                            </p>
                        </section>
                        <section>
                            <header>
                                <h3>怎样保证志愿者捐助的资金可以完全用于项目？</h3>
                            </header>
                            <p>
                                项目发起人签署相关协议，要求发起人必须上传相关凭证与消费单据。并且为保证项目发起人遵守协议，资金会分批付与项目发起人，如发起人未及时提交或消费数额及余额与前批下拨款项不符，将会停止此项目并将发起人拉入黑名单，剩余款项按比例打入资赠者账户。
                            </p>
                        </section>
                        <section>
                            <header>
                                <h3> 项目如何进行风险控制？</h3>
                            </header>
                            <p>
                                我公司会对项目进行严格审慎的考察和筛选，并对项目发起人进行包括身份证核实、语音、视频甚至见面在内的多项认证。
                            </p>
                        </section>
                    </article><hr/>
                </div>
                
                <!--               公益合约 -->
                <div class="-1u skel-cell-mainContent" id="contract">
                    <article id="main" class="special">
                        <header>
                            <h2><a href="#" >公益合约</a></h2>
                            <span class="byline">
                                        注册众善众筹网用户之后，根据提示提交所需要的项目信息（项目内容，发起人与被帮助人的身份证明，贫困证明等）
                                    </span>
                        </header>
                        <p>
                            众善众筹网（www.allheart.cn）是北京众善科技有限公司旗下经营的网站。本协议双方为北京众善科技有限公司（简称“众善众筹”）与众善众筹网项目发起人（简称“您”或“用户”）。在您使用众善众筹提供的服务之前，请务必认真阅读本协议的全部内容。本协议一经您点击确认并同意接受，即在您与众善众筹之间产生法律效力。
                        </p>
                        <section>
                            <header>
                                <h3>服务协议一（项目发起人）</h3>
                            </header>
                            <h4>一、 定义</h4>
                            <p>1.项目发起人：在众善众筹平台注册并发起众筹项目的团队或个人（简称“发起人”）。</p>
                            <p>2.项目捐助人：在众善众筹平台注册并捐助某众筹项目的团队或个人（简称“捐赠人”）。</p>
                            <p>二、本协议的构成及效力
                                <p>1．所有众善众筹已经发布的或将来发布的各类规则，作为本协议不可分割的一部分，与本协议具有同等的法律效力。</p>
                                <p>2．众善众筹有权根据需要适时修订本协议及各类规则，并在网站上公示。变更后的协议和规则一经在众善众筹网站上公示，即发生法律效力。</p>
                                <p>3．在使用众善众筹提供的服务之前，请务必认真阅读本协议的全部内容。如您对本协议有任何疑问，应向众善众筹咨询。本协议生效后，您不应以未阅读或不接受本协议的内容为由，主张本协议无效或要求撤销本协议。</p>
                                <p>4．您应该按照本协议约定行使权利并履行义务。如您不能接受本协议的约定，包括但不限于不能接受修订后的协议及各类规则，则您应立即停止使用众善众筹针对项目发起人提供的服务。如您继续使用众善众筹对项目发起人提供的服务，则表示您同意并接受本协议及各类规则的约束。</p>
                                <p>三、项目发起人的资格</p>
                                <p>1．作为项目发起人，您应为众善众筹网站的注册用户，完全理解并接受本协议。</p>
                                <p>2．作为项目发起人的个人或团体成员，应为年满18周岁并具有完全民事行为能力和民事权利能力的自然人，如项目发起人未满18周岁，应由其监护人代为履行本协议权利和义务。</p>
                                <p>3．您应按照众善众筹的要求，进行必要的身份认证和资质认证，个人认证包括但不限于身份证、护照、学历证明等的认证；团体认证包括但不限于营业执照、组织机构代码证、相关监管机构出具的证明等。并不断及时更新注册时提供的个人资料，保持其详尽、准确。所有用户输入的资料将引用为注册资料。众善众筹不对因用户提交的注册信息不真实或未及时准确变更信息而引起的问题、争议及其后果承担责任。</p>
                                <p>4．您应拥有在中国大陆地区开户并接收人民币汇款的银行卡或支付宝账户。</p>
                                <p>5．您应妥善保管在众善众筹网站的用户名和密码，凡使用您的用户名和密码登陆众善众筹网站进行的一切操作，均视为您本人的行为，一切责任由您本人承担。</p>
                                <p>四、您应对您发起的公益项目履行以下义务：</p>
                                <p>1．您在众善众筹网上发起的公益项目，应明确具体的开始时间和结束时间。截止项目结束时间，如项目众筹金额低于预定众筹金额，则项目众筹失败；如项目众筹金额等于或大于预定众筹金额，则项目众筹成功。</p>
                                <p>2． 您应对自己及您发起的公益项目进行介绍，内容包括“关于公益项目的介绍”、“发起该项目的目的”、 “为什么以众筹的方式发起该项目”、“项目众筹的意义”等。同时，以便于项目投资人对项目有全面充分的了解，从而独立慎重作出是否捐助的决定。</p>
                                <p>3．您发起的公益项目应确保真实，应提供相应的证明；若公益项目具有直接相对人，需提供其身份证明文件（如身份证扫描件，户口证明等）及确有捐助需求的资料证明（如医疗鉴定等）。</p>
                                <p>4．由于众善众筹实行的是在项目众筹成功后分期付款机制，您在发起公益项目时需选择分期付款的时间间隔和每期付款的款项。</p>
                                <p>5．在项目发起后的运行过程中，您应及时回复网友的提问，与项目投资人进行充分互动，促成项目众筹成功。</p>
                                <p>6．您须遵守相应的分期付款机制（详见后文）。</p>
                                <p>7.为了对您拿到捐赠人捐助的款项后使用情况的调查，您需接受众善众筹相应的调查（若您为一个项目团队，则需选出专门负责财务管理的人员与众善众筹进行对接）。</p>
                                <p>五、其他相关协议</p>
                                <p>1．若由于您披露虚假信息的原因，项目捐赠人对您投诉并提出了退款要求，经审查后确符合退款原则的，相应款项将被扣除。</p>
                                <p>2．如您与项目捐赠人在捐助金额使用方面发生纠纷，一切责任由您本人承担，如因此给众善众筹造成经济或名誉损失，您应赔偿损失、恢复名誉。</p>
                                <p>3．您可以在发起的公益项目中注明对捐助人的奖励回报，如您在兑现对项目捐助人的回报过程中，与第三方（包括但不限于物流公司）发生纠纷，一切责任由您本人承担，与众善众筹无关。</p>
                                <p>六、协议终止</p>
                                <p>1．以下任一情形出现，本协议即终止</p>
                                <p>（1）您发起的项目违反了国家法律法规、政策或众善众筹的平台使用规则或本协议约定，众善众筹停止为您提供服务的；</p>
                                <p>（2）您本人不同意接受本协议约定（含众善众筹发布的各类规则），并停止使用众善众筹针对项目发起人提供的服务的；</p>
                                <p>（3）您不符合本协议约定的项目发起人应具备的资格的；</p>
                                <p>（4）其他原因导致本协议终止的。</p>
                                <p>2、本协议终止后，不影响您因在本协议终止前的行为应承担的义务和责任。</p>
                                <p>七、本协议的解释权归北京众善科技有限公司及众善众筹网所有。</p>
                        </section>
                        <section>
                            <header>
                                <h3>第二步 填写项目预算表</h3>
                            </header>
                            <p>
                                添加项目预算信息，尽量详尽
                            </p>
                        </section>
                        <section>
                            <header>
                                <h3>第三步 发起人信息</h3>
                            </header>
                            <p>
                                添加发起人信息，保证信息的正确性，同时补充打款信息；
                            </p>
                        </section>
                    </article><hr/>
                </div>
                
                <!--                关于我们  -->
                <div class="-1u skel-cell-mainContent" id="about">
                    <article id="main" class="special">
                        <header>
                            <h2><a href="#" >关于我们</a></h2>
                            <span class="byline">
                                        众善众筹（All heart）是全国首家公益类众筹网站。
                                    </span>
                        </header>
                        <p>
                            众者，人也，三人成众也；善者，从言从羊，本义吉祥。依靠众人的力量，促进社会的进步，是众善众筹的宗旨。
                        </p>
                        <section>
                            <header>
                                <h3>人人为众善</h3>
                            </header>
                            <p>
                                众善开始于一群热爱公益的年轻人。2013年，大家组建了一家名叫众善公益的小型基金会。然而，经过近一年的发展，我们发现，在经济高速发展的大环境下，社会整体对公益的需求非常巨大，仅仅依靠有限的公益组织和慈善机构，远不能满足普通人做公益的需求。因此，我们决定跳出来，从直接从事公益事业，到为有公益需求、有公益梦想的人服务。搭建平台，改变现状，为中国公益行业尽一份力。
                            </p>
                        </section>
                        <section>
                            <header>
                                <h3>众善为人人</h3>
                            </header>
                            <p>
                                2014年2月，众善科技有限公司正式成立。在互联网技术席卷世界的今天，搭上众筹的快车，用科技的力量，吸引更多的人参与进来，参与到公益事业中来，是我们努力的初衷。我们将为社会团体和普通大众提供众筹服务，壮大公益的力量；同时，我们也将与公益组织和慈善机构合作，为其提供全新的筹款渠道，扩大公益活动的影响力。此外，我们希望建立良好的信息披露机制，通过网络平台以及手机APP服务，增加公益行动的透明度，提高公益行业的信誉度。同时希望改变公益捐赠的规则，实行有条件退款制度（不满意就退款的“三包“制度）。真正使捐赠人的每一分钱都能够产生效益，为捐赠人负责。
                            </p>
                            <p>
                                相信我们，也相信自己。涓涓细流可以汇成大海，每一个人的付出，都能够成就无数个梦想。送人玫瑰，手留余香；玫瑰留香，温情有你。
                            </p>
                        </section>
                    </article> <hr/>

                </div>
                               <!--                联系我们  -->
                <div class="-1u skel-cell-mainContent" id="contact">
                    <article id="main" class="special">
                        <header>
                            <h2><a href="#" >联系我们</a></h2>
                            <span class="byline">
                                        众善众筹（All heart）是全国首家公益类众筹网站。
                                    </span>
                        </header>
                        <p>
                            公益中国，有你有我
                        </p>
                        <p>
                            梦想，
                        </p>
                        <p>
                            曾经如此遥远。 梦想，
                        </p>
                        <p>
                            不曾如此靠近。
                        </p>
                        <p>
                            给生活一个藉口，给人生一个理由。
                        </p>
                        <p>
                            忙碌不是全部，无助不是孤独。
                        </p>
                        <p>
                            有你，有我。
                        </p>
                        <p>
                            一盏明灯，一个微笑。
                        </p>
                        <p>
                            一支玫瑰，一份温情。
                        </p>
                        <p>
                            善就在这里，
                        </p>
                        <p>
                            不曾离去。
                        </p>
                        <p>
                            人间没有冷漠，冬天也有花朵。
                        </p>
                        <p>
                            给生活一个藉口，
                        </p>
                        <p>
                            给爱心一个理由。
                        </p>
                        <p>
                            给人生一个藉口，
                        </p>
                        <p>
                            给初心一个理由。
                        </p>
                        <p>
                            公益中国，有你有我。
                        </p>
                        <p>
                            众善众筹。
                        </p>
                        <p>加入我们，给自己一个理由！ 详情参考bbs招聘栏目
                        </p>
                    </article>
                </div>
            </div>
            
        </div>
    </div>
<?php $this->load->view('pub/foot.html'); ?>
<script>
$(function() {
    //设计案例切换
    $('.title-list li').mouseover(function() {
        var liindex = $('.title-list li').index(this);
        $(this).addClass('active').siblings().removeClass('active');
    });
});
</script>