<?php $this->load->view('pub/head.html'); ?>

<body class="homepage">
    <!-- 大屏欢迎页 -->
    <div id="header">
        <!-- Inner -->
        <!-- Nav -->
        <?php $this->load->view('pub/nav.html'); ?>
    </div>
    <!-- Banner -->
    <div id="banner">
        <h2>累计筹得款:19212元<span>&nbsp;&nbsp;</span>累计帮助项目：12个</h2>
    </div>

    <section class="container"><header><span class="byline">=&nbsp;公益众筹&nbsp;=</span></header></section>

    <div class="carousel" style="border-top:5px solid #fff;border-bottom:5px solid #fff">
        <div class="reel">
            <!-- <h2>推荐项目</h2> -->
            <?php foreach ($pro as $key ): ?>
            <article>
                <div class="card">
                    <a href="<?php echo site_url().'/pro/thumb/'.$key['pro_id'] ?>" class="image">
                        <img src="<?php echo base_url().'uploads/'.$key['pro_img'] ?>" alt="" />
                    </a>
                    <header>
                        <h3>
                            <a href="<?php echo site_url().'/pro/thumb/'.$key['pro_id'] ?>">
                                <?php echo $key[ 'pro_title'] ?>
                            </a>
                        </h3>
                    </header>
                    <p>
                        <?php echo $don_num[$key[ 'pro_id']] ?>人捐助｜已捐助
                        <?php echo $pro_all[$key[ 'pro_id']] ?>元</p>
                    <p>
                        <?php echo remainDay($key[ 'pro_end'], date( 'Y-m-d',time())); ?>天后结束筹款</p>
                </div>
            </article>
            <?php endforeach ?>
        </div>
    </div>
    <section class="container"><header><span class="byline">=&nbsp;股权众筹&nbsp;=</span></header></section>
    <!-- <div id="banner">
        <h3>股权众筹</h3>
    </div>
    <div class="arousel">
        <div class="banner">
            <a href=""><img src="<?php echo base_url().'res/images/';?>pic01.jpg" alt=""></a>
            <a href=""><img src="<?php echo base_url().'res/images/';?>pic01.jpg" alt=""></a>
            <a href=""><img src="<?php echo base_url().'res/images/';?>pic01.jpg" alt=""></a>
            <a href=""><img src="<?php echo base_url().'res/images/';?>pic01.jpg" alt=""></a>
            <a href=""><img src="<?php echo base_url().'res/images/';?>pic01.jpg" alt=""></a>
            <a href=""><img src="<?php echo base_url().'res/images/';?>pic01.jpg" alt=""></a>
        </div>
    </div> -->
<?php $this->load->view('pub/foot.html'); ?>