<?php $this->load->view('pub/head.html'); ?>

<body class="no-sidebar">
    <!-- 大屏欢迎页 -->
    <div id="header">
        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="#" id="logo">用户中心</a>
                </h1>
            </header>
        </div>
        <!-- Nav -->
        <?php $this->load->view('pub/nav.html'); ?>
    </div>
    <div class="clear"></div>

    <div class="wrapper style1">
        <div class="container">
                    <div class="case">
                        <ul class="title-list">
                            <li class="active">
                                <a href="#risepro">我的信息</a>
                            </li>
                            <li><a href="#donate">已发项目</a>
                            </li>
                            <li><a href="#contract">已捐项目</a>
                            </li>
                            <li><a href="#about">更改密码</a>
                            </li>
                            <li><a href="#contact">消息中心</a>
                            </li>
                        </ul>
                    </div>

            <div class="row product-wrap">
                <!--               我的信息-->
                <div id="risepro" class="skel-cell-mainContent product">
                    <article id="main" class="special">
                        <section class="4u" style="padding-top:0px;">
                            <header>
                                <h3>您已经累计捐助项目
                                    <?php echo $don_num ?>个</h3>
                            </header>
                            <p>
                                <a href="#contract">查看详情</a>
                            </p>
                        </section>
                        <section class="4u">
                            <header>
                                <h3>您已经累计发起项目
                                    <?php echo $pro_num ?>个</h3>
                            </header>
                            <p>
                                <a href="#donate">查看详情</a>
                            </p>

                        </section>
                        <section class="4u">
                            <header>
                                <h3>您已经累计捐助
                                    <?php echo $don_all ?>元</h3>
                            </header>
                            <p>
                                <a href="#contract">查看详情</a>
                            </p>
                        </section>
                    </article>
                    <hr />
                </div>

                <!--                已发项目               -->
                <div id="donate" class="skel-cell-mainContent product">
                    <?php if(empty($my_pro)){ ?>
                    <article id="main" class="special">
                        <header>
                            <h3><a href="#" id="">尚未发起任何项目</a>
                            </h3>
                            <h2> <a href="<?php echo site_url('rise/s_rise') ?>">少年，点我发起新的项目吧！！</a>
                            </h2>
                            <span class="byline">

                            </span>
                        </header>

                    </article>
                    <?php }else{ ?>

                    <article id="main" class="special">
                        <section>
                            <table class="style1">
                                <tbody>
                                    <tr>
                                        <th>项目名称</th>
                                        <th>发布日期</th>
                                        <th>截止日期</th>
                                        <th>筹资目标</th>
                                        <th>项目进度</th>
                                        <th>项目状态</th>
                                        <th>可用操作</th>
                                    </tr>

                                    <?php foreach ($my_pro as $v):?>
                                    <tr>
                                        <td style="width:300px;">
                                            <a href="<?php echo site_url().'/pro/thumb/'.$v['pro_id'] ?>">
                                                <?php echo $v[ 'pro_title'] ?>
                                            </a>
                                        </td>
                                        <td>无</td>
                                        <td>无</td>
                                        <td>
                                            <?php echo $v[ 'pro_goal'] ?>
                                        </td>
                                        <td>
                                            <?php echo $process[$v[ 'pro_id']]; ?>%
                                        </td>
                                        <td>
                                            <?php switch ($v[ 'pro_status']) { case '0': echo '正在进行'; break; case '1': echo '正在审核'; break; case '2': echo '已结束'; break; case '3': echo '发起中'; break; default: echo '状态错误'; break; } ?>
                                        </td>
                                        <td><a href="<?php echo site_url().'/rise/pro_edit/'.$v['pro_id'] ?>">编辑</a>| <a href="">删除</a>
                                        </td>
                                    </tr>
                                    <?php endforeach ?>
                                </tbody>
                            </table>

                        </section>
                    </article>
                    <?php } ?>
                    <hr />
                </div>

                <!--                已捐项目               -->
                <div id="contract" class="skel-cell-mainContent product">
                    <?php if($my_pro){ ?>
                    <article id="main" class="special">
                        <header>
                            <h3><a href="#" id="">尚未捐助任何项目</a>
                            </h3>
                            <h2> <a href="<?php echo site_url('welcome/donateList') ?>">少年，点我捐助项目吧！！</a>
                            </h2>
                            <span class="byline">

                            </span>
                        </header>

                    </article>
                    <?php }else{ ?>
                    <article id="main" class="special">
                        <section>
                            <table class="style1">
                                <tbody>
                                    <tr>
                                        <th>项目名称</th>
                                        <th>支持日期</th>
                                        <th>支持金额</th>
                                        <th>其他费用</th>
                                        <th>支付状态</th>
                                        <th>可用操作</th>
                                    </tr>
                                    <?php foreach($my_don as $v): ?>
                                    <tr>
                                        <td style="width:300px;">
                                            <a href="<?php echo site_url().'/pro/thumb/'.$v[0][ 'pro_id'] ?>">
                                                <?php echo $v[0][ 'pro_title'] ?>
                                            </a>
                                        </td>
                                        <td>
                                            <?php echo $v[1][ 'don_time'] ?>
                                        </td>
                                        <td>
                                            <?php echo $v[2][ 'don_money'] ?>元</td>
                                        <td>无</td>
                                        <td>已付款</td>
                                    </tr>
                                    <?php endforeach ?>
                                </tbody>

                            </table>
                        </section>
                    </article>
                    <?php }?>
                    <hr />

                </div>

                <!--                更改密码  -->
                <div id="about" class="skel-cell-mainContent product">
                    <article id="main" class="special">
                        <form action="<?php site_url('user/p_change') ?>" class="rise">
                            <div class="row no-collapse">
                                <div class="9u -3u">
                                    <div class="2u">
                                        <label for="旧密码">旧密码</label>
                                    </div>
                                    <div class="4u">
                                        <input type="password" placeholder="请输入正确的旧密码" name="oldpass">
                                    </div>
                                </div>
                                <div class="9u -3u">
                                    <div class="2u">
                                        <label for="新密码">新密码</label>
                                    </div>
                                    <div class="4u">
                                        <input type="password" placeholder="请输入正确的新密码" name="newpass">
                                    </div>
                                </div>
                                <div class="9u -3u">
                                    <div class="2u">
                                        <label for="新密码">新密码</label>
                                    </div>
                                    <div class="4u">
                                        <input type="password" placeholder="请输入正确的新密码" name="newpass2">
                                    </div>
                                </div>
                                <div class="9u -3u">
                                    <div class="4u -2u">
                                        <input type="submit" value="提交" class="button">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </article>
                    <br class="clear">

                </div>

                <!--                消息中心  -->
                <div id="contact" class="skel-cell-mainContent product">
                    <article id="main" class="special">
                        <header>
                            <h2><a href="#" id="">尚未记录任何信息</a>
                            </h2>
                            <span class="byline">
                                全新的消息中心正在路上
                            </span>
                        </header>
                    </article>
                </div>
                <br class="clear">
            </div>
            <br class="clear">
        </div>
    </div>
    <?php $this->load->view('pub/foot.html'); ?>
    <!-- 实现tab跳转 -->
    <script>
    $(function() {
        //设计案例切换
        $('.title-list li').mouseover(function() {
            var liindex = $('.title-list li').index(this);
            $(this).addClass('active').siblings().removeClass('active');
            $('.product-wrap div.product').eq(liindex).fadeIn(500).siblings('div.product').hide();
            $('html,body').animate({
                scrollTop: 0
            });
        });

    });
    </script>