<?php $this->load->view('pub/head.html'); ?>

<body class="no-sidebar">
    <!-- 大屏欢迎页 -->
    <div id="header">
        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="#" id="logo">用户中心</a>
                </h1>
            </header>
        </div>
        <!-- Nav -->
        <?php $this->load->view('pub/nav.html'); ?>
    </div>
        <div class="wrapper style1">
        <div class="container">

    <?php $this->load->view('pub/mytabs.html'); ?>               
           </div>
       </div>
    <?php $this->load->view('pub/foot.html'); ?>
    <!-- 实现tab跳转 -->
    <script>
    $(function() {
        //设计案例切换
        $('.title-list li').mouseover(function() {
            var liindex = $('.title-list li').index(this);
            $(this).addClass('active').siblings().removeClass('active');
            $('.product-wrap div.product').eq(liindex).fadeIn(500).siblings('div.product').hide();
            $('html,body').animate({
                scrollTop: 0
            });
        });

    });
    </script>