<?php $this->load->view('pub/head.html'); ?>

<!-- 表单验证需要的JS文件 -->
<script src="<?php echo base_url().'res/org/' ?>validitor/Validform_v5.3.2.js"></script>
<!-- 表单验证需要的css文件 -->
<body class="right-sidebar">
    <!-- 大屏欢迎页 -->
    <div id="header">
        <!-- Inner -->
        <div class="inner">
            <header>
                <h1><a href="#" id="logo">捐助项目</a>
                </h1>
            </header>
        </div>
        <!-- Nav -->
        <?php $this->load->view('pub/nav.html'); ?>
    </div>
    <div>
    </div>
    <div class="wrapper style1">

        <div class="container">
            <div class="row">
                <div class="8u skel-cell-mainContent" id="content">
                                                    <!-- tab页项目详情 -->
                    <article id="main">
                        <header>
                            <h2>
                                <a href="#" id="pro_title">
                                    <?php echo $pro[0][ 'pro_title'] ?>
                                </a>
                            </h2>
                            <span class="byline" id="pro_des">
                                <?php echo $pro[0][ 'pro_des'] ?>
                            </span>
                        </header>
                        <div class="-7u 5u">
                            <!-- 项目的社会化分享 -->
                                <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style_32x32">
                            <a class="jiathis_button_qzone"></a>
                            <a class="jiathis_button_tsina"></a>
                            <a class="jiathis_button_tqq"></a>
                            <a class="jiathis_button_weixin"></a>
                            <a class="jiathis_button_renren"></a>
                            <a href="http://www.jiathis.com/share?uid=1952014" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
                            <a class="jiathis_counter_style"></a>
                            </div>
                            <script type="text/javascript" >
                            var jiathis_config={
                                data_track_clickback:true,
                                siteNum:6,
                                sm:"tsina,qzone,weixin,douban,renren,tieba",
                                summary:$.trim(document.getElementById("pro_des").innerHTML),
                                boldNum:6,
                                shortUrl:true,
                                hideMore:true,
                                title:$.trim(document.getElementById("pro_title").innerHTML)
                            }
                            </script>
                            <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=1952014" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                        </div>
                        <?php if($pro[0][ 'pro_video']){ ?>


            <p>
                <embed src="<?php echo $pro[0]['pro_video'] ?>" allowfullscreen="ture" isAutoPlay=true quality="high" width="780" height="500" align="middle" type="application/x-shockwave-flash" flashvars="winType=index" style="visibility:visible;" />
            </p>
            <?php } ?>
                    <?php $this->load->view('pub/tab.html'); ?>
                </article>
                </div>


                <div class="4u" id="sidebar">
                    <hr class="first" />
                    <section>
                        <header>
                            <h3>
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style">
                                <a class="jiathis_like_tsina" data="width=120"></a>
                            </div>
                            <script type="text/javascript">
                            var jiathis_config = {data_track_clickback:'true'};
                            </script>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1952014" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                         </h3>
                        </header>
                        <br>
                        <article>
                            <div class="card">
                                <a href="#" class="image image1`">
                                <img src="<?php echo base_url().'uploads/'.$pro[0]['pro_img'] ?>" alt="" />
                            </a>
                                <header>
                                    <h2 class="-2u 10u"><?php 
                                         switch ($pro[0]['pro_status']) { case '0': echo '正在进行'; break; case '1': echo '正在审核'; break; case '2': echo '已结束'; break; case '3': echo '发起中'; break; default: echo '状态错误'; break; } ?> </h2>

                                    <p>累计捐助</p>
                                    <h2>￥
                                        <?php echo $pro_all ?>
                                    </h2>
                                    <p>该项目必须在<?php 
                                    $pro_end_arr = explode('-', $pro[0]['pro_end']);
                                    echo $pro_end_arr[0]."年".$pro_end_arr[1]."月".$pro_end_arr[2]."日"; ?> 前得到
                                        <?php echo $pro[0][ 'pro_goal'] ?>元 的支持才能成功！</p>
                                </header>
                                <p>
                                    <?php echo $don_num ?>人捐助｜20人喜欢｜30人订阅</p>
                                <p>剩余时间： <?php 
                                            echo remainDay($pro[0]['pro_end'], date('Y-m-d',time()));
                                        ?> 天</p>
                                <form action="<?php echo site_url('don/sure_donate') ?>" method="post" class="donate" style="margin:0;">
                                    捐助金额：
                                        <input type="text" value="" name="don_money" class="inputxt" datatype="/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/" nullmsg="请输入项目筹集金额！" errormsg="请输入正确的整数金额" placeholder="不少于1元">元
                                    
                                        <div class="Validform_checktip"></div>
                                        <div class="info">请填写捐助金额，最少1元
                                            <span class="dec">
                                                <s class="dec1">&#9670;</s>
                                                <s class="dec2">&#9670;</s>
                                            </span>
                                        </div>
                                    <input type="hidden" name="pro_id" value="<?php echo $pro_id ?>">
                                    <br class="clear">
                                    <?php if ($pro[0]['pro_status']) { ?>
                                        <input type="" href="" class="button-disable" value="立即捐助" style="width:100%;backgroud;" disable>
                                    <?php }else{ ?>
                                        <input type="submit" href="" class="button" value="立即捐助" style="width:100%;">
                                    <?php } ?>
                                </form>
                            </div>
                        </article>
                    </section>
                    <hr />
                    <!--                    评论框-->
                    <section>
                        <header>
                            <h3><a href="#">项目发起人： <?php echo $pro_user[0]['user_name'] ?> </a>
                            </h3>
                        </header>
                        <p>
                            项目发起人简介
                        </p>
                        <footer>
                            <a href="#" class="button circled scrolly ">进入公益圈讨论</a>
                        </footer>
                    </section>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <script>
    $('.donate').Validform({
        tiptype: 2
    });
    </script>
    <?php $this->load->view('pub/foot.html'); ?>