<?php $this->load->view('pub/head.html'); ?>

<body class="homepage">
    <!-- Header -->
    <div id="header">

        <!-- Inner -->
        <div class="inner">
           
            <header>
                <h1><a href="#" id="logo">设置新密码</a></h1>
                <hr />
            </header>            
                    <form action="<?php echo site_url('log/p_change_forget') ?>" method="post">
                    <input type="password" name="user_password" class="text" placeholder="新密码">
                    <input type="password" name="user_passwordag" class="text" placeholder="确认密码">
                    <input type="hidden" name="user_name" value="<?php echo $user_name ?>">
                    <input type="submit" class="button circled scrolly" value="修改密码">
                    </form>
        </div>
        <?php $this->load->view('pub/nav.html'); ?>
        <nav id="sub-nav">
                <ul class="title-list">
                    <li class="active">
                        <a href="<?php echo site_url('log/s_signin') ?>" style="color:#fff;">登录</a>
                    </li>
                    <li class="active"><a href="<?php echo site_url('log/s_signup') ?>" style="color:#fff;">注册</a>
                    </li>
                </ul>        
        </nav>
    </div>
    </div>
    <?php $this->load->view('pub/foot.html'); ?>