<!DOCTYPE HTML>
<html>
<head>
    <title><?php echo $title ?></title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="<?php echo base_url().'res/' ?>js/html5shiv.js"></script><![endif]-->
    <script src="<?php echo base_url().'res/' ?>js/jquery.min.js"></script>
    <script src="<?php echo base_url().'res/' ?>js/jquery.dropotron.js"></script>
    <script src="<?php echo base_url().'res/' ?>js/skel.min.js"></script>
    <script src="<?php echo base_url().'res/' ?>js/skel-panels.min.js"></script>
    <script src="<?php echo base_url().'res/' ?>js/init.js"></script>

    <link rel="stylesheet" href="<?php echo base_url().'res/' ?>css/style.css" />

    <noscript>
        <link rel="stylesheet" href="<?php echo base_url().'res/' ?>css/skel-noscript.css" />
        <link rel="stylesheet" href="<?php echo base_url().'res/' ?>css/style-desktop.css" />
        <link rel="stylesheet" href="<?php echo base_url().'res/' ?>css/style-noscript.css" />
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="<?php echo base_url().'res/'?>css/ie8.css" /><![endif]-->
</head>
