<script type="text/plain" id="myEditor" style="width:90%;height:240px;">
    <h3>关于我（也 可使用个性化小标题）</h3>
    <p>向支持者介绍你自己或你的团队，并详细说明你与所发起的项目之间的背景，让支持者能够在最短时间内了解你，以拉近彼此之间的距离。</p>
    <h3>我想要做什么（也可使用个性化小标题）</h3>
    <p>这是项目介绍中最关键的部分，建议上传5张以上高清图片（宽700、高不限），配合文字来简洁生动地说明你的项目，让支持者对你要做的事情一目了然并充满兴趣。</p>
    <h3>为什么我需要你的支持及资金用途（也可使用个性化小标题）</h3>
    <p>请在这一部分说明你的项目不同寻常的特色，为什么需要大家的支持以及详细的资金用途，这会增加你项目的可信度并由此提高筹资的成功率。</p>
    <h3>我的承诺与回报（也可使用个性化小标题）</h3>
    <p>请在此处展示你为支持者准备的回报，回报方式将是左右项目能否筹资成功的关键因素，建议设定两个以上的回报方式，保证有趣且可行，并明确实现回报的时间。</p>
    <h3>可能存在的风险（也可使用个性化小标题）</h3>
    <p>请在此标注你的项目在实施过程中可能存在的风险，让支持者对你的项目有全面而清晰的认识。</p>
    <h3>其他备注信息（也可使用个性化小标题）</h3>
    <p>其他需要支持者了解的信息。</p>
</script>
<script src="<?php echo base_url().'res/org/umeditor/umeditor.config.js' ?>"></script>
<script src="<?php echo base_url().'res/org/umeditor/umeditor.min.js' ?>"></script>
<link rel="stylesheet" href="<?php echo base_url().'res/org/umeditor/themes/default/css/umeditor.min.css' ?>">
<script type="text/javascript">
    //实例化编辑器
    var um = UM.getEditor('myEditor');
</script>