<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url() . '/style/admin/css/public.css' ?>">
	<title>添加链接</title>
</head>
<body>
	<form action="<?php echo site_url('admin/admin/add_href_action') ?>" method="post">
	<table class="table">
		<tr >
			<td class="th" colspan="10">添加友情链接</td>
		</tr>
		<tr>
			<td>链接名称</td>
			<td>
				<input type="text" name="href_name" />
			</td>
		</tr>
		<tr>
			<td>链接URL</td>
			<td>
				<input type="text" name="href_url" />
			</td>
		</tr>
		<tr>
			<td colspan="10">
				<input type="submit"  class="input_button" value="添加" />
			</td>
		</tr>
	</table>
	</form>
</body>
</html>