<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url() . '/style/admin/css/public.css' ?>">
	<title>Document</title>
</head>
<body>
		<table class="table">
		<tr>
			<td class="th" colspan="10">查看链接</td>
		</tr>

		<tr>
			<td>链接ID</td>
			<td>链接名称</td>
			<td>链接URL</td>
			<td>链接操作</td>

		</tr>
		
		<?php foreach($href as $v): ?>
		<tr>
			<td><?php echo $v['href_id'] ?></td>
			<td><?php echo $v['href_name'] ?></td>
			<td><?php echo $v['href_url'] ?> </td>
			<td>
				<a href="<?php echo site_url('admin/admin/edit_href/'.$v['href_id'] )?>">编辑</a>
				<a href="<?php echo site_url('admin/admin/delete_href/'.$v['href_id']) ?>">删除</a>
			</td>
		</tr>
		<?php endforeach ?>
	</table>
</body>
</html>