<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title></title>
	<link rel="stylesheet" href="<?php echo base_url() . 'style/admin/' ?>css/admin.css" />
</head>
<body>
	<table class="table">
		<tr>
			<td colspan='4' class="th">&nbsp</span>总融资金额</td>
		</tr>
		<tr>
			<td style="width:570px">已筹集金额</td>
			<td><?php echo $money[0]['don_money']  ?>&nbsp元</td>
		</tr>
		</table>
		<table class="table">
		<tr>
			<td colspan='4' class="th">&nbsp</span>最新项目</td>
		</tr>
		<tr>
			<td style="width:330px"><center><b>项目名</b></center></td>
			<td style="width:223px"><center><b>项目状态</b></center></td>
			<td><center><b>项目目标</b></center></td>
			<td><center><b>目前金额</b></center></td>
		</tr>
		<?php foreach ($new_pro as $value): ?>
			
			<tr>
				<td><?php echo $value['pro_title'] ?></td>
				<td><?php 
				switch ($value['pro_status']) {
					case '0':
						echo '正在进行';
						break;
					case '1':
						echo '正在审核';
						break;
					case '2':
						echo '已结束';
						break;
					default:
						break;
				}
				 ?></td>
				 <td>
				 	<?php echo $value['pro_goal'] ?>
				 </td>
				 <td>
				 	<?php echo $current_money[$value['pro_id']] ?>
				 </td>
			</tr>
		<?php endforeach ?>
		
		</table>
		<table class="table">
		<tr>
			<td colspan='4' class="th">&nbsp服务器信息</td>
		</tr>
		

		<tr>
			<td style="width:570px">服务器环境</td>
			<td><?php echo $this->input->server('SERVER_SOFTWARE') ?></td>
		</tr>
		<tr>
			<td>PHP版本</td>
			<td><?php echo PHP_VERSION ?></td>
		</tr>


</table>
</body>
</html>