<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="<?php echo base_url() . '/style/admin/css/public.css' ?>">
	<title>Document</title>
</head>
<body>
	<table class="table">
		<tr>
			<td class="th" colspan="10">捐助明细</td>
		</tr>
		<tr>
			<td>捐助ID</td>
			<td>捐助金额</td>
			<td>捐助人</td>
			<td>项目名称</td>	
		</tr>
		<?php foreach ($don as $value): ?>
		<tr>
		
			<td>
				<?php echo $value['don_id'] ?>
			</td>
			<td>
				<?php echo $value['don_money'] ?>
			</td>
			<td>
				<?php echo $user_name[$value['user_id']][0]['user_name'] ?>
			</td>
			<td>
				<?php echo $pro_title[$value['pro_id']][0]['pro_title'] ?>
			</td>
		
		</tr><?php endforeach ?>
	</table>
	<div class="page">
		<?php echo $links ?>
	</div>

</body>
</html>