<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>
    <meta http-equipro="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="<?php echo base_url() . '/style/admin/css/public.css' ?>">
    <title>Document</title>
    <style type="text/css">
    span {
        color: #f00;
    }
    </style>
</head>

<body>

    <form name="myForm" method="POST">
    <script>
    function pass()
    //交由程序1处理 
        {
        document.myForm.action = "<?php echo site_url('admin/check/pass') ?>";
        document.myForm.submit();
    } 
    function notpass()
    //交由程序2处理 
        {
        document.myForm.action = "<?php echo site_url('admin/check/notpass') ?>";
        document.myForm.submit();
        }
    </script>
        <table class="table">
            <tr>
                <td class="th" colspan="10">审核项目</td>
            </tr>
            <tr>
                <td>栏目名称</td>
                <td>
                    <label for="">
                        <?php echo $pro[0]['pro_title'] ?>
                    </label>
                </td>
            </tr>
            <tr>
                <td>项目状态</td>
                <td>
                    <label for="">
                        <?php switch ($pro[0][ 'pro_status']) { case '0': echo " 正在进行 "; break; case '1': echo "正在审核 "; break; case '2': echo "已结束 "; break; default: echo "发起中 "; break; } ?>
                    </label>
                </td>
            </tr>
            <tr>
                <td>项目目标</td>
                <td>
                    <label for="">
                        <?php echo $pro[0]['pro_goal'] ?>
                    </label>
                </td>
            </tr>
            <tr>
                <td>项目图片</td>
                <td>
                <img src="<?php echo base_url().'../uploads/'.$pro[0]['pro_img']  ?>" alt="" height="200" />
                </td>
            </tr>
            <tr>
                <td>项目持续</td>
                <td><?php echo $pro[0]['pro_dur'] ?></td>
            </tr>

            <tr>
                <td>项目描述</td>
                <td><?php echo $pro[0]['pro_des'] ?></td>
            </tr>
           <tr>
               <td>项目视频</td>
               <td>
                   <?php if($pro[0]['pro_video']){ ?>
<p><embed src="<?php echo $pro[0]['pro_video'] ?>" allowfullscreen="ture" isAutoPlay=true quality="high" width="780" height="500" align="middle" type="application/x-shockwave-flash" flashvars="winType=index" style="visibility:visible;" /></p>
    <?php } ?>
               </td>
           </tr>
            <tr>
                <td>项目详情</td>
                <td style="padding:10px 20px 10px 20px;">
                     <?php echo htmlspecialchars_decode($pro[0]['pro_det']) ?>
                </td>
            </tr>
          
            <tr>
                <td>不通过理由</td>
                <td >
                    <input style="width: 650px;" type="text" name="reason" placeholder="审核不通过必填" />
                </td>
            </tr>
            <tr>
             <input type="hidden" name="pro_id" value="<?php echo $pro[0]['pro_id'] ?>" />
                
                <td >
                    
                </td>

          <td colspan="10">                

            <input type="button" value="通过" onclick="pass()" class="input_button" />
            <input type="button" value="不通过" onclick="notpass()" class="input_button" />
                </td>
            </tr>
        </table>
    </form>

</body>

</html>
