<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <title>众善科技管理后台</title>
        <!-- CSS -->
        <link rel="stylesheet" href="<?php echo base_url(). 'style/assets/'?>css/reset.css">
        <link rel="stylesheet" href="<?php echo base_url(). 'style/assets/'?>css/supersized.css">
        <link rel="stylesheet" href="<?php echo base_url(). 'style/assets/'?>css/style.css">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="page-container">
            <h1>登录</h1>
            <form action="<?php echo site_url('admin/login/login_in') ?>" method="post">
                <input type="text" name="user_name" class="username" placeholder="用户名">
                <input type="password" name="password" class="password" placeholder="密码">
            <!--     1. 表单验证
                     2. 链接数据库    -->
                <button type="submit" >登录系统</button>
                <div class="error"><span>+</span></div>
            </form>
        </div>
        <!-- Javascript -->
        <script src="<?php echo base_url(). 'style/assets/'?>js/jquery-1.8.2.min.js"></script>
        <script src="<?php echo base_url(). 'style/assets/'?>js/supersized.3.2.7.min.js"></script>
        <script src="<?php echo base_url(). 'style/assets/'?>js/supersized-init.js"></script>
        <script src="<?php echo base_url(). 'style/assets/'?>js/scripts.js"></script>

    </body>

</html>

